<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">


<th:block layout:fragment="content">
    <div>
        <h2>메인 화면</h2>
    </div>
    <div>
<!--        <p th:value="${}">토큰값</p>-->
<!--        <p th:value="${}">유저네임</p>-->
<!--        <p th:value="${}">토큰 상태</p>-->
<!--        <p th:value="${}">토큰 만료 시간</p>-->
        <p>토큰값</p>
        <p>유저네임</p>
        <p>토큰 상태</p>
        <p>토큰 만료 시간</p>
    </div>
</th:block>


</html>